{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

 {%block title-meta%}
 تغییر گذر واژه
 {% endblock %}

{% block main %}
  <div class="row">


    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title mb-0 float-left">
            تغییر گذر واژه
          </h3>
        </div>
      </div>
      <div class="card-body">
        <form  method="post" >
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              {{form.old_password|as_crispy_field}}
            </div>
            <div class="col-12">
              {{form.new_password1|as_crispy_field}}
            </div>

            <div class="col-12">
              {{form.new_password2|as_crispy_field}}
            </div>
          </div>
          <button class="btn btn-warning" name="button">تغییر گذر واژه</button>


        </form>

      </div>
    </div>
</div>

{% endblock %}
